.QuoteMachine {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #e2e8f0;
}

.Quote-tile {
  max-width: 750px;
  background-color: #011627;
  color: #fff;
  border-radius: 5px;
  margin: 1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.Quote-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0.5rem;
}

.tweet-btn,
.new-btn {
  margin: 1rem;
  padding: 1rem;
  border: none;
  background-color: #011627;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #fff;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  transition: background-color 300ms ease-in;
}

.tweet-btn:hover,
.tweet-btn:active {
  background-color: #60fdff;
}

.new-btn:hover,
.new-btn:active {
  background-color: #6972ff;
}

.Loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #4fd1c5;
  color: #fff;
}
